@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(./assets/Fonts/6d93bde91c0c2823-s.woff2);
}

@font-face {
    font-family: font2;
    src: url(./assets/Fonts/a34f9d1faa5f3315-s.p.woff2);
}

@theme {
  --breakpoint-xl: 1300px;
  --breakpoint-card: 820px;
}

*{
    box-sizing: border-box;
    font-family: font2;
    scrollbar-width: thin;
    scrollbar-color: #d1d5db #ffff;
    /* color: #285bb41a; */
}





/* primary color - #285cb4 */
/* borders - #e5e5e5 */
/* text-black - #0a0a0a */
/* text-gray- #737373 */